# Retry ssh 10 times
sshr () {
	# Check we've got command line arguments
	if [ -z "$*" ] ; then
		echo "Need to specify ssh options"
		return
	fi

	# Start trying and retrying
	((count = 10))
	while [[ $count -ne 0 ]] ; do
		ssh $*
		rc=$?
		if [[ $rc -eq 0 ]] ; then
			((count = 1))
		else
			sleep 2
		fi
		((count = count - 1))
	done

	# Print a message if we failed
	if [[ $rc -ne 0 ]] ; then
		echo "Could not connect to $*"
	fi
}
